header{
    display: flex;
    gap:130px;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
    background-color: #FFC2E0;
}
body{
    margin: 0;
    padding: 0;
}

.link{
    margin-left: 25px;
    padding: 5px;
    border: white solid;
    background-color: white;
    border-radius: 50px;
    color: #FF78BC;
    text-decoration: none;
    font-size: 24px;
}

h1{
    color: white;
    margin: 0;
}
p{
    color: white;
}

.banner{
    background-image: url(img/banner.png);
    background-size: cover;
    background-position: center;
    margin: 35px;
    padding: 25px;
    height: 500px;
    border-radius:50px;
}

.banner_text{
    width: 50%;
    text-align: center;
    font-size: 36px;
    border-radius: 50px;
    background-color: rgba(255, 176, 188, 0.75); 
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
    font-family: "Inter";
}

.a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    max-width: 500px;
}

.aboba{
    display: flex;
}

.Menu_main{
    background-color: #FFC2E0;
    width: 100%;
    display: flex;
    flex-direction: column;


}

.menu_h1{
    padding-right: 600px;
    padding-top: 1px;
    font-size: 96px;
    font-family: "Inter";
    margin-left: 268px;

}


.Catalog{
    display: flex;
    justify-content: space-around;
}

.Photo{
    margin-left: 10px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}
.texth1{
    color: #FFC2E0;
    background-color: white;
    border-radius: 100px;
    text-align: center;
    width: 50%;
    padding: 30px 0;
    margin-left: 25%;
    margin-bottom: 28px;
    
}
.buy{
    text-align: center;
}
.coments_backgrount{
    background-color: #FF78BC;
    display: flex;
    flex-direction: column;

}
.sotial_midea{
    display: flex;
    flex-direction: column;
    margin: 68px;
}
.sotial_midea1{
    display: flex;
    align-items: center;
    gap: 63px;

}
.sotial_midea_a{
    color:white;
    text-decoration: none;
}

.com_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

.coments{
    width: 70%;
    background-color: #FFC2E0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 33px;

}

.comentator{
    display: flex;
    align-items: center;
    gap: 10px;
}
.com_text1{
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 30px;
    width: 50%;
    color: black;

}
.com_text{
    width:100%;
}



.coment{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.text_inp{
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 30px 0 0 30px;
    border: none;
    width: 40%;
}

.inp_btn{
    background-color: #FF2893;
    color: #fff;
    padding: 30px 20px;
    border: none;
    border-radius: 0 30px 30px 0;
    

}